* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color:#fafbec;
  display: flex;
  justify-content: center;
}

nav {
  padding: 16px;
  /* background-color: #e0f7fa; */
  background-color: #f9effb; 
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

nav a {
  color: #00796b;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
}

nav a:hover {
  color: #004d40;
  text-decoration: underline;
}

.title-card {
  text-align: center;
  margin: 30px;
  color:#438888;
}

h2 {
  text-align: right;
  padding: 40px;
}

.product-card {
  width: 60%;
  margin: 0px auto;
  background: #ffffff;
  border: 2px solid #57f164;
  border-radius: 12px;
  background-color: #e0f1c7;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-info {
  width: 90%;
  border: 1px solid #77c086;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  margin:10px auto;
  gap:20px;
  text-decoration: none;
  color: inherit;
}
.product-info:hover {
  background-color: #f8effa; 
}

.product-info p {
  margin-bottom: 10px;
}

.back-btn {
  padding: 20px;
  text-decoration: none;
  font-size: 26px;
}

.details-info {
  width: 50%;
  border: 2px solid #77c086;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  margin:10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-info p {
  margin-bottom: 10px; 
  color:black;
}

.details-btn {
  cursor: pointer;
  width: 30%;
  padding: 10px;
  margin: 30px auto 0px;
  border: 1px solid #77c086;
  border-radius: 8px;
}
.details-btn:hover {
  background-color: #cdf4c8; 
}